@font-face {
    font-family: 'PannoTextNormal';
    src: url('../fonts/panno/PannoTextNormal.eot');
    src: url('../fonts/panno/PannoTextNormal.eot') format('embedded-opentype'),
         url('../fonts/panno/PannoTextNormal.woff2') format('woff2'),
         url('../fonts/panno/PannoTextNormal.woff') format('woff'),
         url('../fonts/panno/PannoTextNormal.ttf') format('truetype'),
         url('../fonts/panno/PannoTextNormal.svg#PannoTextNormal') format('svg');
}

@font-face {
    font-family: 'PannoTextSemiBold';
    src: url('../fonts/panno/PannoTextSemiBold.eot');
    src: url('../fonts/panno/PannoTextSemiBold.eot') format('embedded-opentype'),
         url('../fonts/panno/PannoTextSemiBold.woff2') format('woff2'),
         url('../fonts/panno/PannoTextSemiBold.woff') format('woff'),
         url('../fonts/panno/PannoTextSemiBold.ttf') format('truetype'),
         url('../fonts/panno/PannoTextSemiBold.svg#PannoTextSemiBold') format('svg');
}

@font-face {
    font-family: 'PannoTextBold';
    src: url('../fonts/panno/PannoTextBold.eot');
    src: url('../fonts/panno/PannoTextBold.eot') format('embedded-opentype'),
         url('../fonts/panno/PannoTextBold.woff2') format('woff2'),
         url('../fonts/panno/PannoTextBold.woff') format('woff'),
         url('../fonts/panno/PannoTextBold.ttf') format('truetype'),
         url('../fonts/panno/PannoTextBold.svg#PannoTextBold') format('svg');
}

@font-face {
    font-family: 'PannoTextMedium';
    src: url('../fonts/panno/PannoTextMedium.eot');
    src: url('../fonts/panno/PannoTextMedium.eot') format('embedded-opentype'),
         url('../fonts/panno/PannoTextMedium.woff2') format('woff2'),
         url('../fonts/panno/PannoTextMedium.woff') format('woff'),
         url('../fonts/panno/PannoTextMedium.ttf') format('truetype'),
         url('../fonts/panno/PannoTextMedium.svg#PannoTextMedium') format('svg');
}

@font-face {
    font-family: 'PannoTextLight';
    src: url('../fonts/panno/ugentpannotext-semilight-web.eot');
    src: url('../fonts/panno/ugentpannotext-semilight-web.eot') format('embedded-opentype'),
         url('../fonts/panno/ugentpannotext-semilight-web.woff') format('woff'),
         url('../fonts/panno/ugentpannotext-semilight-web.ttf') format('truetype');
}

@font-face {
    font-family: 'Icomoon';
    src: url('../fonts/iconfont/icomoon.eot');
    src: url('../fonts/iconfont/icomoon.eot') format('embedded-opentype'),
         url('../fonts/iconfont/icomoon.woff') format('woff'),
         url('../fonts/iconfont/icomoon.ttf') format('truetype'),
         url('../fonts/iconfont/icomoon.svg#icomoon') format('svg');
}

